// Colors of project

// Brand-colors

$blue-darken: #0531A4;
$blue-dark: #1141BD;
$blue-normal: #1850E1;

$pink-normal: #4AA6F7;
$pink-light: #6BBAFF;

// Neutral-colors

$white-dark: #EDEDED;
$white-light: #FFFFFF;
$white-normal: #F7F7F7;

$black-dark: #0F0F19;
$black-normal: #1E1E28;
$black-light: #2E2E37;
$black-ligthen: #3D3D46;

// Gray scale

$gray-100: #E0E2E5;
$gray-200: #C3C7CC;
$gray-300: #A6ACB3;
$gray-400: #89919A;
$gray-500: #6C7781;
$gray-600: #505C68;

// Gradient-colors

$gradient-1: linear-gradient(to right,#4AA6F7 0%, #1850E1 100%);
$gradient-2: linear-gradient(to right, #6BBAFF 0%, #0F6EC2 100%); 
$gradient-3: linear-gradient(to right, #4271EB 0%, #0531A4 100%);