// Layout of project

//Container devices
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 540px;

// Mixins / functions

@mixin responsive($device){
    // Para resoluções acima de 1440px
    @if $device == xl{
        @media screen and (min-width: $container-xl){
            @content;
        }
    
    }
    // Para resoluções entre 1140px até 1440px
    @else if $device == l{
        @media screen and (max-width: $container-xl) and (min-width: $container-l){
            @content;
        }
    }
    // Para resoluções entre 960px até 1140px
    @else if $device == m{
        @media screen and (max-width: $container-l) and (min-width: $container-m){
            @content;
        }
    }
    // Para resoluções menores de 960px
    @else if $device == s{
        @media screen and (max-width: $container-m){
            @content;
        }
    }
    // Para resoluções menores de 540px
    @else if $device == xs{
        @media screen and (max-width: $container-s){
            @content;
        }
    } 
}

// Main
.container{
    max-width: $container-xl;
    height: 100vh;
    margin: 0 auto;
    position: relative;
    

    overflow: hidden;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    @include responsive(s){

        padding: 32px 18px;
    }
}
.svg-left{
    position: fixed;
    height: 100vh;
    opacity: 0.45;
    top: 30%;
    z-index: -1;
}

.svg-right{
    position: fixed;
    height: 100vh;
    opacity: 0.45;
    top: -25%;
    left: -40%;
    z-index: -1;
}

// Page division
.baseline{
    width: 100%;
    height: 2px;
    background: $gradient-2;
    margin: 42px 0px;
}
//------------------------------------//

.hero{
    text-align: center;
    width: 100%;
    position: absolute;
}


.hero h1{
    padding: 40px;
}

#square-scroll{
    background: $gradient-2;
    border: 2px solid $black-normal;
    height: 32px;
    width: 32px;
    border-radius: 2px;

    position: absolute;
    bottom: 40px;

    @include responsive(s){
        height: 22px;
        width: 22px;
        border: 1px solid $black-normal;
    }
}

#scroll{
    position: absolute;
    bottom: 10px;  
}
//--------------------------end of main-------------------------------//

// Section about
.about{
    max-width: $container-xl;
    margin: 0 auto;
    padding: 96px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    

    @include responsive(s){
        flex-direction: column;
        gap: 50px;
    }
}

.about-me{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
}

.about-me h4{
    padding: 96px;

    @include responsive(s){
        padding: 32px;
    }
}

.about-me h3{
    padding: 20px 0px;
}

p{
    text-align: center;
}

.img{
    width: 800px;
    border: 2px solid $pink-normal;

    @include responsive(s){
        width: 250px;
    }
}
//--------------------------end of about-------------------------------//

//Section Skills
.skills{
    max-width:$container-xl;
    margin: 0 auto;
    padding: 96px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 42px;

    @include responsive(s){
        h5{
            font-size: 13px;
        }
    }

}

.skills h5{
    position: relative;

    &::after{
        position: absolute;
        content: "";
        width: 6px;
        height: 12px;
        margin-right: 10px;
        transform: rotate(45deg);

        top: 25%;
        right: 100%;
        border-bottom: 2px solid $pink-normal;
        border-right: 2px solid $pink-normal;

        @include responsive(s){
            width: 5px;
            height: 10px;

            top: 6%;
            margin-right: 8px;
        }
    }
}


.squares{
    max-width: $container-xl;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    position: relative;
    overflow: hidden;
}


.square-1{
    width: 72px;
    height: 72px;
    border: 2px solid $black-normal;
    border-radius: 2px;
    background: $gradient-2;

    @include responsive(s){
        width: 32px;
        height: 32px;
        border: 2px solid $black-normal;
    }
}

.square-2{
    width: 72px;
    height: 72px;
    border: 2px solid $black-normal;
    border-radius: 2px;
    background: $gradient-2;

    @include responsive(s){
        width: 32px;
        height: 32px;
        border: 2px solid $black-normal;
    }
}

//--------------------------end of skills section-------------------------------//


// pattern-cards-skills
.cards-section{
    max-width: $container-xl;
    margin: 0 auto;
    text-align: center;
    padding: 96px;

    @include responsive(s){
        h4{
            padding: 32px;
        }
    }
}

.cards-line-one, .cards-line-two{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 96px;


    @include responsive(s){
        flex-direction: column;
        padding: 10px;
        gap: 20px;
    }
}

.pattern-cards-tec{

    width: 142px;
    height: 142px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background: $gradient-2;
    border: 2px solid $pink-light;

    transition: transform 0.3s ease;
    cursor: pointer;

    @include responsive(s){
        width: 100px;
        height: 100px;

        svg{
            width: 50px;
            height: 50px;
        }
    }
}



//--------------------------end of pattern-cards-skills-------------------------------//

// Section projects

.projects{
    max-width: $container-xl;
    margin: 0 auto;
    text-align: center;
    padding: 96px;
}


.projects-cards{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 96px;
    
    @include responsive(s){
        flex-direction: column;
    }
}

.standard-cards{
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    border: 2px solid $pink-light;
    gap: 30px;
    background: $gradient-2;

    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);

}

.standard-cards p{
    color: $white-normal;
    font-size: 16px;
}

button{
    display: inline-block;
    padding: 12px 24px;
    background: $gradient-2;
    border-radius: 8px;
    border-width: 1px;
    border: 2px solid $pink-light;
    font-weight: bold; 
    cursor: pointer;

    transition: transform 0.2s ease;
}

.button-git{
    text-decoration: none;
    color: $white-normal;
    text-transform: uppercase;
    
}

//--------------------------end of projects-------------------------------//

//Section contact

.contact{
    max-width: $container-xl;
    margin: 0 auto;
    text-align: center;
    padding: 96px;
}

.contact h4{
    margin-bottom: 72px;
}

.contact h3 a{
    text-decoration: none;
    color: $black-dark;

    transition: color 0.3s ease;
}

.contact-svgs{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 96px;
    gap: 42px;

    @include responsive(s){
        flex-direction: column;
        padding: 42px;
        gap: 32;
    }
    
}

.contact-svgs-width{
    transition:  0.3s ease;

    @include responsive(s){
        width: 52px;
        height: 52px;
    }
}
//--------------------------end of contact-------------------------------//

